<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dingan.tsdingan.dao.DaInsureMapper">
  <resultMap id="BaseResultMap" type="cn.dingan.tsdingan.model.DaInsure">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="insure_id" jdbcType="VARCHAR" property="insureId" />
    <result column="driver_school_id" jdbcType="VARCHAR" property="driverSchoolId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="birth_date" jdbcType="DATE" property="birthDate" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="insure_date" jdbcType="TIMESTAMP" property="insureDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>