<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dingan.tsdingan.dao.DaOrderDetailMapper">
  <resultMap id="BaseResultMap" type="cn.dingan.tsdingan.model.DaOrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_detail_id" jdbcType="VARCHAR" property="orderDetailId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="driver_school_id" jdbcType="VARCHAR" property="driverSchoolId" />
    <result column="insure_id" jdbcType="VARCHAR" property="insureId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="cont_no" jdbcType="VARCHAR" property="contNo" />
    <result column="cusorderid" jdbcType="VARCHAR" property="cusorderid" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="seq_no" jdbcType="INTEGER" property="seqNo" />
  </resultMap>
  
  <select id="getOrderDetailList" resultType="cn.dingan.tsdingan.model.DaOrderDetail" parameterType="cn.dingan.tsdingan.model.DaOrderDetail">
	select s.*,da.sex,da.name,da.idcard from da_order_detail s inner join  da_insure da on s.insure_id =da.insure_id
	where s.`status` = 1 and s.is_deleted='N' and da.is_deleted='N'
		<if test="idcard !=null and idcard !=''">
			AND  da.idcard LIKE CONCAT('%',#{idcard},'%')
		</if>
		<if test="name !=null and name!=''">
			 AND  da.name LIKE CONCAT('%',#{name},'%')
		</if>
		
		<if test="contNo !=null and contNo!=''">
			 AND  s.cont_no LIKE CONCAT('%',#{contNo},'%')
		</if>
		
		<if test="driverSchoolId !=null and driverSchoolId !=''">
			 AND  s.driver_school_id LIKE CONCAT('%',#{driverSchoolId},'%')
		</if>
		 
	</select>
  
</mapper>