<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dingan.tsdingan.dao.DriverSchoolMapper">
  <resultMap id="BaseResultMap" type="cn.dingan.tsdingan.model.DriverSchool">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="driver_school_id" jdbcType="VARCHAR" property="driverSchoolId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="unified_social_credit_code" jdbcType="VARCHAR" property="unifiedSocialCreditCode" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="license_url" jdbcType="VARCHAR" property="licenseUrl" />
    <result column="is_examine" jdbcType="CHAR" property="isExamine" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>